@model Travel.Admin.Models.MallProductPurchaseRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MallProductPurchaseRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MallProductTableId" class="control-label"></label>
                <select asp-for="MallProductTableId" class ="form-control" asp-items="ViewBag.MallProductTableId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeStatus" class="control-label"></label>
                <input asp-for="ExchangeStatus" class="form-control" />
                <span asp-validation-for="ExchangeStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeTime" class="control-label"></label>
                <input asp-for="ExchangeTime" class="form-control" />
                <span asp-validation-for="ExchangeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
