@model Travel.Admin.Models.ArticleRepository

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>自訂列表文章</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArticleRepositoryId" />
            <div class="form-group">
                <label asp-for="ArticleList.ArticleListName" class="control-label"></label>
                <select asp-for="ArticleListId" class="form-control" asp-items="ViewBag.ArticleListId"></select>
                <span asp-validation-for="ArticleListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.ArticleName" class="control-label"></label>
                <select asp-for="ArticleId" class="form-control" asp-items="ViewBag.ArticleId"></select>
                <span asp-validation-for="ArticleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
