@model Travel.Admin.Models.ArticleList

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>請確認好資料再刪除</h3>
<div>
    <h4>文章列表</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleListName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleListName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memberunique.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memberunique.MemberName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArticleListId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
